@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h3>@_message</h3>

@code{
    [Inject] HttpClient? _http { get; set; }

    string _message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            if (_http != null)
            {
                var response = await _http.GetAsync("/api/welcome");

                if(response != null)
                {
                    if (response.IsSuccessStatusCode)
                    {
                        _message = await response.Content.ReadAsStringAsync();
                    }
                }
            }
        }
        catch(Exception ex)
        {
            _message = ex.Message;
        }
    }
}